.NavBar {
  position: absolute;
  right: 5px;
}

.Header {
  padding: 20px;
  background-color: #dc1222;
  border-style: solid;
  border-top-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #930c17;
  position: relative;
}

.UserGreeting {
  padding: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 85%; /* Full-width */
  height: 25px;
  background-image: linear-gradient(
    to right,
    #dc1222 3%,
    yellow 10%,
    #23dc12 25%,
    yellow 60%,
    #dc1222 80%
  ); /*change to proper limits*/
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.sliderdescription {
  margin-left: 40px;
  font-size: 20px;
}
